In [ ]:
!pip install -q rake_nltk
# nltk package allows to extract the key words from a text, and it even assigns scores to each word.
# Rake extracts key words from the Plot column, so instead of using the entire sentences 
# describing the plot, consider the most relevant words in the description

In [ ]:
import pandas as pd
import numpy as np
from rake_nltk import Rake
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer


df = pd.read_csv('https://query.data.world/s/uikepcpffyo2nhig52xxeevdialfl7')
df = df[['Title','Genre','Director','Actors','Plot']]
df.head()

                      Title  ...                                               Plot
0  The Shawshank Redemption  ...  Two imprisoned men bond over a number of years...
1             The Godfather  ...  The aging patriarch of an organized crime dyna...
2    The Godfather: Part II  ...  The early life and career of Vito Corleone in ...
3           The Dark Knight  ...  When the menace known as the Joker emerges fro...
4              12 Angry Men  ...  A jury holdout attempts to prevent a miscarria...

[5 rows x 5 columns]

In [ ]:
# initializing the new column
df['Key_words'] = ""

for index, row in df.iterrows():
    plot = row['Plot']
    
    # instantiating Rake, by default it uses english stopwords from NLTK
    # and discards all puntuation characters as well
    r = Rake()

    # extracting the words by passing the text
    r.extract_keywords_from_text(plot)

    # getting the dictionary whith key words as keys and their scores as values
    key_words_dict_scores = r.get_word_degrees()
    # assigning the key words to the new column for the corresponding movie
    row['Key_words'] = list(key_words_dict_scores.keys())

# dropping the Plot column
df.drop(columns = ['Plot'], inplace = True)
df.head()

                      Title  ...                                          Key_words
0  The Shawshank Redemption  ...  [two, imprisoned, men, bond, years, acts, even...
1             The Godfather  ...  [reluctant, son, clandestine, empire, organize...
2    The Godfather: Part II  ...  [son, family, crime, syndicate, grip, 1920s, n...
3           The Dark Knight  ...  [dark, knight, must, accept, one, gotham, abil...
4              12 Angry Men  ...  [prevent, miscarriage, reconsider, evidence, j...

[5 rows x 5 columns]

In [ ]:
# Everything needs to be lowercase to avoid duplications, and merge all first and last names in one unique word.
# Also keep all in one column
df['bag_of_keyword'] = ''
for index, row in df.iterrows():
  keyword = ''
  genre = row['Genre'].split(',')
  for i in range(len(genre)):
    keyword += genre[i].lower()
  director = row['Director'].replace(' ', '').lower()
  keyword += ' ' + director
  actors = row['Actors'].split(',')
  for i in range(len(actors)):
    keyword += ' ' + actors[i].replace(' ', '').lower()
  key_words = row['Key_words']
  for i in range(len(key_words)):
    keyword += ' ' + key_words[i]
  row['bag_of_keyword'] = keyword

# dropping the Genre, Director, Actors and Key_words columns
df.drop(columns = ['Genre','Director', 'Actors','Key_words'], inplace = True)
df.head()

                      Title                                     bag_of_keyword
0  The Shawshank Redemption  crime drama frankdarabont timrobbins morganfre...
1             The Godfather  crime drama francisfordcoppola marlonbrando al...
2    The Godfather: Part II  crime drama francisfordcoppola alpacino robert...
3           The Dark Knight  action crime drama christophernolan christianb...
4              12 Angry Men  crime drama sidneylumet martinbalsam johnfiedl...

In [ ]:
# To detect similarities between movies we need to vectorize
# Here CountVectorizer is used rather than TfIdfVectorizer for one simple reason: 
# We need a simple frequency counter for each word in my bag_of_keyword column.

# instantiating and generating the count matrix
count = CountVectorizer()
count_matrix = count.fit_transform(df['bag_of_keyword'])

# generating the cosine similarity matrix
cosine_sim = cosine_similarity(count_matrix, count_matrix)
cosine_sim
# All the numbers on the diagonal are 1 because, of course, every movie is identical to itself. 
# The matrix is also symmetrical because the similarity between A and B is the same as the similarity between B and A.

array([[1.        , 0.14638501, 0.1315587 , ..., 0.05      , 0.05      ,
        0.05270463],
       [0.14638501, 1.        , 0.34236839, ..., 0.048795  , 0.048795  ,
        0.05143445],
       [0.1315587 , 0.34236839, 1.        , ..., 0.0438529 , 0.0438529 ,
        0.04622502],
       ...,
       [0.05      , 0.048795  , 0.0438529 , ..., 1.        , 0.05      ,
        0.05270463],
       [0.05      , 0.048795  , 0.0438529 , ..., 0.05      , 1.        ,
        0.05270463],
       [0.05270463, 0.05143445, 0.04622502, ..., 0.05270463, 0.05270463,
        1.        ]])

In [ ]:
# creating a Series for the movie titles so they are associated to an ordered numerical
# list I will use in the function to match the indexes
indices = pd.Series(df['Title'])
# defining the function that takes in movie title 
# as input and returns the top 10 recommended movies
def recommendations(title, cosine_sim = cosine_sim):
    
    # initializing the empty list of recommended movies
    recommended_movies = []
    
    # gettin the index of the movie that matches the title
    idx = indices[indices == title].index[0]

    # creating a Series with the similarity scores in descending order
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

    # getting the indexes of the 10 most similar movies
    top_10_indexes = list(score_series.iloc[1:11].index)
    
    # populating the list with the titles of the best 10 matching movies
    for i in top_10_indexes:
        recommended_movies.append(list(df['Title'])[i])
        
    return recommended_movies
recommendations('The Departed')

['Fargo',
 'Reservoir Dogs',
 'Heat',
 'The Wolf of Wall Street',
 'Rope',
 'Shutter Island',
 'Goodfellas',
 'Blood Diamond',
 'On the Waterfront',
 'Chinatown']